/* 基本設定 */

*, *::before, *::after{
    box-sizing: border-box;
    /* outline: 1px solid #000; */
}

body{
    font-family: "Noto Sans TC", serif;
    color: $c-base;
    line-height: normal;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

a{
    text-decoration: none;
    color: $c-base;
}

/* 工具類別 */

.container{
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;

    @include pc-1199{
        max-width: 960px;
    }

    @include pc-991{
        max-width: 748px;
/*         padding-left: 10px;
        padding-right: 10px; */
    }

    @include mobile-767{
        max-width: 700px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.btn{
    display: inline-block;
    text-align: center;
    &-primary{
        background: $c-primary;
        color: #fff;
        &:hover{
            background: #fff;
            color: $c-primary;
            border: 1px solid $c-primary;
            font-weight: bold;
        }
    }
    &-accent{
        background: $c-accent;
        color: #fff;
        &:hover{
            background: #fff;
            color: $c-accent;
            border: 1px solid $c-accent;
            font-weight: bold;
        }
    }
    &-white{
        background: #fff;
        color: $c-primary;
        &:hover{
            background: $c-primary;
            color: #fff;
        }
        &--active{
            background: $c-primary;
            color: #fff;
        }
    }

    &-s{
        padding: 7px 15px;
        border-radius: 27px;
    }
    &-m{
        padding: 7px 31px;
        border-radius: 22px;
    }
    &-l{
        padding: 11px 31px;
        border-radius: 27px;
    }
}

.border{
    &-primary{
        border: 1px solid $c-primary;
    }
    &-accent{
        border: 1px solid $c-accent;
    }
}

.fw-bold{
    font-weight: bold;
}

.ta-c{
    text-align: center;
}

.ta-l{
    text-align: left;
}

.mb{
    &-1rem{
        margin-bottom: 1rem;
    }
    &-3rem{
        margin-bottom: 3rem;
    }
    &-block{
        margin-bottom: 100px;
        @include pc-1199{
            margin-bottom: 80px;
        }
        @include mobile-767{
            margin-bottom: 60px;
        }
    }
}

.rounded{
    &-shadow{
    border-radius: 0.75rem;
    box-shadow: 0 2px 10px $c-shadow;
    background: #fff;
    }
    &-block{
        border-radius: 0.75rem;
        background: $c-blockGray;
        padding: 1.5rem 1rem;
        @include mobile-767{
            padding: 1rem 0;
        }
    }
}
