/* color */
$c-primary: #56C4C5;
$c-accent: #FF5D50;
$c-base: #221E1F;
$c-content: #747474;
$c-shadow: #00000014;
$c-blockGray: #F5F5F5;
$c-decor-gray: #DDDDDD;
$c-decor-yellow: #FFD153;
$c-banner-gray: #F7F9FD;

/* font size */
$fz-xxxl: 3rem;
$fz-xxl: 2rem;
$fz-xl: 1.5rem;
$fz-l: 1.25rem;
$fz-m: 1.125rem;
$fz-d: 1rem;
$fz-xs: 0.75rem;